<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid d-flex justify-content-between w-100">
      <div>
        <button class="btn btn-outline-primary">
          <i class="bi bi-arrow-left rounded-4"></i>
        </button>
        <span class="mx-4 fs-6">
          {{ 'Add New Resources' | translate }}
        </span>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav d-flex align-items-center gap-3">
            <!-- Language toggle using checkbox -->
            <li class="nav-item">
              <div class="form-check form-switch fs-5 d-flex justify-content-between align-items-center">
                <input class="form-check-input mx-2" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                  (change)="toggleLanguage($event)">
                <span class="fs-6">{{ 'active' | translate }}</span>
              </div>
            </li>

            <li class="nav-item">
              <button class="btn btn-dark fs-6">
                {{ 'Save Changes' | translate }}
              </button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-danger d-flex ">
                <div class="d-flex align-items-center mx-1">
                  <img src="../../../assets/img/trash.svg" id="trashIcon" alt="">
                </div>
                <span class="fs-6">
                  {{ 'Delete Resource' | translate }}
                </span>
              </button>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>