<div class="bg-secondary-subtle p-5" [dir]="'dir'| translate">
  <!-- // component nav bar  -->
  <app-resourse-nav></app-resourse-nav>
  <!-- Component 2 -->
  <header class="row">
    <!-- component 3-->
    <div class="col-md-6 p-4">
      <app-resource-details></app-resource-details>
    </div>
    <!-- component 4-->
    <div class="col-md-6 p-4">
    <app-resource-availability></app-resource-availability>
    </div>
  </header>

  <!-- Component 3 -->
  <header class="col m-3 ">
    <!-- component 4-->
    <app-working-time></app-working-time>
  </header>
</div>
