    <!-- component 3.1 -->
    <div class="d-flex flex-wrap align-items-center justify-content-around bg-light rounded-4 p-3 py-5">
      <div class="col-md-3 text-center ">
          <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
          <label for="fileInput" *ngIf="!imageUrl" class="upload-label">Click to upload</label>
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Selected Image" class="circle-image" (click)="fileInput.click()" />
      </div>
      <div class="col-md-8">
        <div class="mb-3">
          <label class="form-label text-secondary">{{ 'Resource name' | translate }}</label>
          <input type="text" class="form-control p-2 fs-5 fw-bold" aria-describedby="textHelp">
        </div>
      </div>
    </div>

    <!-- component 3.2 -->
    <div class="d-flex flex-wrap align-items-center justify-content-around bg-light rounded-4 p-3 mt-4">
          <div class="order-1">
            <label class="text-secondary">
              {{ "Choose resource type" | translate }}
            </label>
          </div>
          <div class="order-2 d-flex flex-wrap">
      <div *ngFor="let value of radioValues" class="d-flex justify-content-between align-items-center my-1 mx-2">
        <input type="radio" name="ResourceOptions" [(ngModel)]="selectedResourceOptions" class="mx-1" [value]="value">
        {{ value | translate }}
      </div>
          </div>
    </div>
